%h1 Ganttr Sample App

%p
  %a{:href=>"http://github.com/mdarby/ganttr"} Ganttr
  is a pure Javascript library that generates Gantt charts with JSON requested data. Click the button for a sample.
  
%p
  <input type="submit" value="Load Chart" onclick="loadChart();">
