!!! XML
!!!

%html
  %head
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/raphael.js"}
    %script{:type => "text/javascript", :src => "/application.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheet.css"}

  %body
    = yield